$primaryBg: #111827;
$secondaryBg: #1f2937;
$colorText: #d1d5d1;
$colorHighlight: #e772ab;
$colorButton: #37485f;
$colorValid: #81b29a;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  width: 100vw;
  @include flexCenter();
  background-color: $primaryBg;
  color: $colorText;
}

section {
  width: 480px;
  height: auto;
}

form {
  background-color: $secondaryBg;
  height: 100%;
  @include flexCenter();
  flex-direction: column;
  gap: 1em;
  padding: 2em 0;
  border-radius: 20px;
  position: relative;
}

h1 {
  margin-bottom: 1em;
}

.input {
  &__label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

label {
  display: flex;
  flex-direction: column;
  width: max(60%, 250px);
  gap: 0.5em;
}

input {
  appearance: none;
  border: none;
  padding: 0.5em;
  transition: all 250ms ease-in-out;
  background-color: transparent;
  border-bottom: 2px solid $colorText;
  color: $colorText;

  &:focus {
    outline: none;
  }

  &:valid {
    border-color: $colorValid;
    background-color: transparent;
  }

  &:invalid {
    @extend .invalid;
  }
}

.invalid {
  border-color: $colorHighlight !important;
}

// form errors
.form {
  &__error {
    font-size: 0.75em;
    color: $colorHighlight;
    white-space: wrap;
    overflow: hidden;

    max-width: 150px;
  }
}

// Removing Number Arrows
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

button {
  font-family: 'Open Sans', sans-serif;
  appearance: none;
  background-color: $colorButton;
  color: $colorText;
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  outline: none;

  margin-top: 1em;
  transition: all 250ms ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: #4d6483;
  }

  &:disabled {
    opacity: 0.5;
  }
}
